*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html ,body{
    background-color: #faf9fc;
    height: 100%;
}

.clear{
    clear: both;
}

/*navbar*/


.side_bar{
    background-color: #2d3035;
    height: 100%;
    color: white;
    width: 300px;
    float: left ;
}

.topo{
    background-color: #26282d;
    text-align: center;
    padding: 20px 10px;
}

.topo h3{
    color: white;
}

.menu{
    padding: 30px;
}

.menu ul{
    list-style-type: none;
}

.menu ul li{
    transition: 0.6s;
    margin-bottom: 20px;
    color: #717171;
    font-size: 18px;
}

.menu ul li a{
    color: #717171;
    text-decoration: none;
    font-size: 18PX;
}

.menu li:hover{
    color: #6d3bb8;
}

.menu li a:hover{
    color: white;
    transition: 0.6s;
}

/*conteudo*/


.main_content{
    float: left;
    width: calc(100% - 300px);
    height: 100%;
}

header{
    background-color: white;
    padding: 15px 20px;
    border-bottom: 2px solid #ccc;
    height: 60px;
}

.pesquisa_campo{
    float: right;
}

.icone_pesquisa{
    background-color: #d6d6d6;
    width: 30px;
    height: 30px;
    color: white;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.icone_pesquisa i{
    position: relative;
    top: 6px;
    cursor: pointer;
    
}

.pesquisa_campo form{
    display: inline-block;
    vertical-align: middle;
}

.pesquisa_campo input{
    width: 200px;
    height: 30px;
    padding-left: 10px;
    font-size: 16px;
}


.pesquisa_campo input:focus{
    outline: 0;
}

.icone_alerta{
    float: right;
    margin-right: 28px;
    background: #fbedef;
    width: 30px;
    height: 30px;
    text-align: center;
    position: relative;
}

.icone_alerta i{
    color: red;
    font-weight: bold;
    vertical-align: middle;
    margin-top: 6px;
}

.icone_alerta p{
    cursor: pointer;
    position: absolute;
    top: -6px;
    left: 20px;
    display: inline-block;
    background-color: #ed7387;
    font-size: 12px;
    padding: 2px 3px;
    color: white;
    border-radius: 3px;
}

.menu_mobile{
    display: none;
    float: left;
    font-size: 23px;
    cursor: pointer;
}

.menu_mobile:hover{
    color: #6d3bb8;
    transition: 1s;
}


.nome_usuario{
    float: left;
}

.nome_usuario h2{
    font-weight: normal;
    font-size: 18px;
    color: #a7a7a7;
    margin-top: 5px;
}

.content1{
    float: left;
    width: 70%;
    padding: 30px;
    overflow-y: auto;
    height: calc(100% - 60px);
}

.painel{
    float: left;
    border: 2px solid #ebebeb;
    background: white;
    width: 100%;
    padding: 30px;
    margin-bottom: 15px;
}

.painel h3{
    font-size: 24px;
    color: #7f7f7f;
    font-weight: normal;
}

.painel p{
 color: #b2b2b2;
 font-size: 17px;
 margin-top: 10px;
}

.content2{
    float: right    ;
    width: 30%;
    background-color: #eaebeb;
    height: calc(100% - 60px) ;
    padding: 20px 30px;
    overflow-y: auto;
}

.atividades_topo h2{
    color: #7f7f7f;
    font-size: 23px;
    border-bottom: 1px solid#ccc;
    padding: 15px;
    font-weight: normal;
    text-align: center;
}

.atividades_registro{
    padding: 15px 15px;
    border-left: 1px solid #bbbbbb;
    position: relative;
}

.atividades_registro h2{
    color: #bbbbbb;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    top: -14px;
}

.atividades_registro h3{
    color: #bbbbbb;
    font-size: 19px;
    font-weight: normal;
    margin-bottom: 10px;
    font-weight: bold;
}


.atividades_registro p{
    color: #b2b2b2;
    font-size: 15px;
    margin-bottom: 15px;
}

.circle_atividade{
    position: absolute;
    left: -10px;
    top: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid#bbbbbb;
    background-color: #e9ebeb;
}

@media screen and (max-width:768px) {
    .content2{
        display: none;
    }

    .content1{
        width: 100%;
    }

    .nome_usuario{
        display: none;
    }

    .menu_mobile{
        display: block  ;
    }

    .side_bar{
        display: none;
       position: relative;
       z-index: 999;
    }

    .main_content{
        width: 100%;
        position: absolute;
        left:0;
        top: 0;
    }
}